<?xml version="1.0"?>

<launch>
  <node name="tf_broadcaster" pkg="follow_me" type="tf_broadcaster.py" output="screen"/>
  <node name="moving_frame" pkg="follow_me" type="eband_moving_frame" output="screen"/>
  <node name="move_base_simple_goal" pkg="follow_me" type="eband_moving_simple" output="screen"/>
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 -2 0 0 0 0 map  middle 100" output="screen" />
</launch>
